
NET "RXCLKIN" TNM_NET = "RXCLKIN_GRP";
TIMESPEC "TS_RXCLKIN" = PERIOD "RXCLKIN_GRP" 50.04 MHz HIGH 50 %;

INST "devicelinkinst" AREA_GROUP="dl_group";

NET "REFCLKIN" LOC = "R9" | IOSTANDARD = LVTTL; 
NET "REFCLKOUT" LOC = "M6" | IOSTANDARD = LVTTL; 

NET "RXCLKIN" LOC = "P8" | IOSTANDARD = LVTTL; 

NET "TXIO_P"  LOC = "J1" | IOSTANDARD = LVDSEXT_25;
NET "TXIO_N"  LOC = "J2" | IOSTANDARD = LVDSEXT_25 ;


NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "LEDEVENTA" LOC="T10" | IOSTANDARD=LVTTL; 
NET "LEDEVENTB" LOC="T14" | IOSTANDARD=LVTTL; 
NET "LEDEVENTC" LOC="T13" | IOSTANDARD=LVTTL; 
NET "LEDEVENTD" LOC="T12" | IOSTANDARD=LVTTL; 

NET "RXDIN<0>" LOC = "R3" | IOSTANDARD = LVTTL; 
NET "RXDIN<1>" LOC = "T3" | IOSTANDARD = LVTTL; 
NET "RXDIN<2>" LOC = "T4" | IOSTANDARD = LVTTL; 
NET "RXDIN<3>" LOC = "R4" | IOSTANDARD = LVTTL; 
NET "RXDIN<4>" LOC = "T5" | IOSTANDARD = LVTTL; 
NET "RXDIN<5>" LOC = "R5" | IOSTANDARD = LVTTL; 
NET "RXDIN<6>" LOC = "R6" | IOSTANDARD = LVTTL; 
NET "RXDIN<7>" LOC = "T7" | IOSTANDARD = LVTTL; 
NET "RXDIN<8>" LOC = "R7" | IOSTANDARD = LVTTL; 
NET "RXDIN<9>" LOC = "T8" | IOSTANDARD = LVTTL; 

NET "RXLOCKED" LOC="P6" | IOSTANDARD = LVTTL; 

NET "FIBEROUTAB" LOC="P12" | IOSTANDARD = LVTTL; 
NET "FIBEROUTCD" LOC="P13" | IOSTANDARD = LVTTL; 

NET "FIBERINAB" LOC="P10" | IOSTANDARD = LVTTL; 
NET "FIBERINCD" LOC="N10" | IOSTANDARD = LVTTL; 

NET "DSPPPIDOUT<0>" LOC="B4" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST;  
NET "DSPPPIDOUT<1>" LOC="A3" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPIDOUT<2>" LOC="B5" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPIDOUT<3>" LOC="A4" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPIDOUT<4>" LOC="B6" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPIDOUT<5>" LOC="A5" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPIDOUT<6>" LOC="B7" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPIDOUT<7>" LOC="A7" | IOSTANDARD=LVTTL |  DRIVE=24 | FAST; 
NET "DSPPPICLK" LOC="C5" | IOSTANDARD=LVTTL | DRIVE=24 | FAST; 

#-- DSP A
NET "DSPRESETA" LOC="B1" | IOSTANDARD = LVTTL; 
NET "DSPCLKA" LOC="C1" | IOSTANDARD = LVTTL; 
NET "DSPSPIMISOA" LOC="C3" | IOSTANDARD = LVTTL; 
NET "DSPSPIMOSIA" LOC="C2" | IOSTANDARD = LVTTL; 
NET "DSPSPICLKA" LOC="C8" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPFLAG0A" LOC="C6" | IOSTANDARD = LVTTL; 
NET "DSPFLAG1A" LOC="C7" | IOSTANDARD = LVTTL  | PULLDOWN;  
NET "DSPFLAG2A" LOC="B8" | IOSTANDARD = LVTTL; 
NET "DSPFLAG4A" LOC="A8" | IOSTANDARD = LVTTL; 
NET "DSPSPORTSCLKA" LOC="F3" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT0DRA" LOC="F2" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT0RFSA" LOC="G2" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT1DTA" LOC="E1" | IOSTANDARD = LVTTL; 
NET "DSPSPORT1TFSA" LOC="G1" | IOSTANDARD = LVTTL; 
NET "DSPPPIFS1A" LOC="D5" | IOSTANDARD = LVTTL | DRIVE=12 | FAST; 
NET "DSPUARTRXA" LOC="F4" | IOSTANDARD=LVTTL | PULLUP; 
NET "DSPUARTTXA" LOC="F5" | IOSTANDARD=LVTTL; 

#-- DSP B
NET "DSPRESETB" LOC="B10" | IOSTANDARD = LVTTL; 
NET "DSPCLKB" LOC="A9" | IOSTANDARD = LVTTL; 
NET "DSPSPIMISOB" LOC="A14" | IOSTANDARD = LVTTL; 
NET "DSPSPIMOSIB" LOC="A10" | IOSTANDARD = LVTTL; 
NET "DSPSPICLKB" LOC="B12" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPFLAG0B" LOC="B11" | IOSTANDARD = LVTTL; 
NET "DSPFLAG1B" LOC="A13" | IOSTANDARD = LVTTL | PULLDOWN;  
NET "DSPFLAG2B" LOC="B13" | IOSTANDARD = LVTTL; 
NET "DSPFLAG4B" LOC="B14" | IOSTANDARD = LVTTL; 
NET "DSPSPORTSCLKB" LOC="D7" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT0DRB" LOC="D8" | IOSTANDARD = LVTTL  | SLOW; 
NET "DSPSPORT0RFSB" LOC="D9" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT1DTB" LOC="E11" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPSPORT1TFSB" LOC="A12" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPPPIFS1B" LOC="C11" | IOSTANDARD = LVTTL | DRIVE=12 | FAST; 
NET "DSPUARTRXB" LOC="E6" | IOSTANDARD=LVTTL | PULLUP; 
NET "DSPUARTTXB" LOC="E7" | IOSTANDARD=LVTTL; 


#-- DSP C
NET "DSPRESETC" LOC="D16" | IOSTANDARD = LVTTL; 
NET "DSPCLKC" LOC="D15" | IOSTANDARD = LVTTL; 
NET "DSPSPIMISOC" LOC="B16" | IOSTANDARD = LVTTL; 
NET "DSPSPIMOSIC" LOC="C16" | IOSTANDARD = LVTTL; 
NET "DSPSPICLKC" LOC="G16" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPFLAG0C" LOC="E15" | IOSTANDARD = LVTTL; 
NET "DSPFLAG1C" LOC="G15" | IOSTANDARD = LVTTL | PULLDOWN;  
NET "DSPFLAG2C" LOC="E16" | IOSTANDARD = LVTTL; 
NET "DSPFLAG4C" LOC="F15" | IOSTANDARD = LVTTL; 
NET "DSPSPORTSCLKC" LOC="G12" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT0DRC" LOC="D14" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT0RFSC" LOC="F13" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT1DTC" LOC="H13" | IOSTANDARD = LVTTL | PULLDOWN ; 
NET "DSPSPORT1TFSC" LOC="F12" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPPPIFS1C" LOC="K15" | IOSTANDARD = LVTTL | DRIVE=12 | FAST; 
NET "DSPUARTRXC" LOC="K13" | IOSTANDARD=LVTTL | PULLUP; 
NET "DSPUARTTXC" LOC="K14" | IOSTANDARD=LVTTL; 

#-- DSP D
NET "DSPRESETD" LOC="M15" | IOSTANDARD = LVTTL; 
NET "DSPCLKD" LOC="M16" | IOSTANDARD = LVTTL; 
NET "DSPSPIMISOD" LOC="J16" | IOSTANDARD = LVTTL; 
NET "DSPSPIMOSID" LOC="P14" | IOSTANDARD = LVTTL; 
NET "DSPSPICLKD" LOC="R16" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPFLAG0D" LOC="N16" | IOSTANDARD = LVTTL; 
NET "DSPFLAG1D" LOC="P15" | IOSTANDARD = LVTTL | PULLDOWN;  
NET "DSPFLAG2D" LOC="N15" | IOSTANDARD = LVTTL; 
NET "DSPFLAG4D" LOC="P16" | IOSTANDARD = LVTTL; 
NET "DSPSPORTSCLKD" LOC="L14" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT0DRD" LOC="H15" | IOSTANDARD = LVTTL | PULLDOWN | SLOW; 
NET "DSPSPORT0RFSD" LOC="K12" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPSPORT1DTD" LOC="M13" | IOSTANDARD = LVTTL | PULLDOWN ; 
NET "DSPSPORT1TFSD" LOC="H16" | IOSTANDARD = LVTTL | PULLDOWN ;  
NET "DSPPPIFS1D" LOC="L15" | IOSTANDARD = LVTTL | DRIVE=12 | FAST; 
NET "DSPUARTRXD" LOC="K16" | IOSTANDARD=LVTTL | PULLUP; 
NET "DSPUARTTXD" LOC="L12" | IOSTANDARD=LVTTL; 
 


