NET "SYSCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "SYSCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUTA" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESETA" LOC="B1" | IOSTANDARD=LVTTL; 
NET "DSPCLKOUTB" LOC="A9" | IOSTANDARD=LVTTL; 
NET "DSPRESETB" LOC="B10" | IOSTANDARD=LVTTL; 
NET "DSPCLKOUTC" LOC="D15" | IOSTANDARD=LVTTL; 
NET "DSPRESETC" LOC="D16" | IOSTANDARD=LVTTL; 
NET "DSPCLKOUTD" LOC="M16" | IOSTANDARD=LVTTL; 
NET "DSPRESETD" LOC="M15" | IOSTANDARD=LVTTL; 

NET "DSPAPF4" LOC="A8" | IOSTANDARD=LVTTL; 

NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "LEDEVENTA" LOC="T10" | IOSTANDARD=LVTTL; 
NET "LEDEVENTB" LOC="T14" | IOSTANDARD=LVTTL; 
NET "LEDEVENTC" LOC="T13" | IOSTANDARD=LVTTL; 
NET "LEDEVENTD" LOC="T12" | IOSTANDARD=LVTTL; 
