pcb/History/
*.o
# FPGA 
*code8b10b*
!*.xco
*.lso
*.ngr
*.srp
*.twx
*.lo
xlnx_auto_0.ise
xlnx_auto_0_xdb/
*.block
*.imem
#*#
runner
behavioral.dat
behavioral.dbs
_primary.dbs
_primary.dat
_info
\#*\#
body.dat
body.dbs
touched
disassem.out
*.dump
