Source: libsomadspio
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 7), cmake, cdbs, libsomanetwork-dev, 
                libsigc++-2.0-dev, libboost-test1.37-dev, 
                libboost-system1.37-dev
Standards-Version: 3.8.0
Section: libs
Homepage: http://soma.mit.edu

Package: libsomadispio-dev
Section: libdevel
Architecture: any
Depends: iolib0, ${shlibs:Depends}, ${misc:Depends}
Description: headers for libsomadspio
 Library headers used to communicate with the soma dsp boards
 The DSPBoard is the 4-DSP signal processing module that 
 performs the majority of the per-channel signal processing in soma. 


Package: libsomadspio0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libsomadspio  is a library used to communiate with the soma dsp boards
 Library used to communicate with the soma dsp boards
 The DSPBoard is the 4-DSP signal processing module that 
 performs the majority of the per-channel signal processing in soma. 

