NET "REFCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "REFCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUT" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESET" LOC="B1" | IOSTANDARD=LVTTL; 
NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "SPISS" LOC="c6" | IOSTANDARD=LVTTL; 
NET "MOSI" LOC="c2" | IOSTANDARD=LVTTL; 
#NET "MISO" LOC="T9" | IOSTANDARD=LVTTL; 
NET "MSCLK" LOC="c8" | IOSTANDARD=LVTTL; 
NET "GOFLAG" LOC="A8" | IOSTANDARD=LVTTL; 

