NET "REFCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "REFCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUT" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESET" LOC="B1" | IOSTANDARD=LVTTL; 
NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "DSPARSCLK" LOC="G1" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPADR" LOC="F2" | IOSTANDARD = LVTTL | PULLDOWN | SLOW; 
NET "DSPARFS" LOC="G2" | IOSTANDARD = LVTTL | SLOW; 
NET "DSPADT" LOC="D1" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "DSPALINKUP" LOC="C7" | IOSTANDARD = LVTTL;

#NET "DSPBRSCLK" LOC="" | IOSTANDARD = LVTTL; 
NET "DSPBDR" LOC="D8"| IOSTANDARD = LVTTL | PULLDOWN;  
#NET "DSPBRFS" LOC="" | IOSTANDARD = LVTTL; 
#NET "DSPBDT" LOC="" | IOSTANDARD = LVTTL; 
#NET "DSPBLINKUP" LOC="" | IOSTANDARD = LVTTL; 

NET "DSPFIBEROUT" LOC="P12" | IOSTANDARD = LVTTL; 
NET "DSPFIBERIN" LOC="P10" | IOSTANDARD = LVTTL; 

NET "ACQFIBEROUT" LOC="P13" | IOSTANDARD = LVTTL; 
NET "ACQFIBERIN" LOC="N10" | IOSTANDARD = LVTTL; 

NET "NEWCMDDEBUG" LOC="T10" | IOSTANDARD=LVTTL; 
