NET "SYSCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "SYSCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUTA" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESETA" LOC="B1" | IOSTANDARD=LVTTL; 

NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "SCLK" LOC="C8" | IOSTANDARD=LVTTL; 
NET "MOSI" LOC="C2" | IOSTANDARD=LVTTL; 
NET "SCS" LOC="C7" | IOSTANDARD=LVTTL | PULLUP; 
NET "FIFOFULL" LOC="C6" | IOSTANDARD=LVTTL; 
NET "SENDEVENT" LOC="B8" | IOSTANDARD=LVTTL; 
