NET "REFCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "REFCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUT" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESET" LOC="B1" | IOSTANDARD=LVTTL; 
NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "SERCLK" LOC="F3" | IOSTANDARD = LVTTL; 
NET "SERDT" LOC="E1" | IOSTANDARD = LVTTL; 
NET "SERTFS" LOC="G1" | IOSTANDARD = LVTTL; 
NET "FULL" LOC="A8" | IOSTANDARD = LVTTL; 
