NET "REFCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "REFCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUT" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESET" LOC="B1" | IOSTANDARD=LVTTL; 
NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 

NET "RSCLK" LOC="G1" | IOSTANDARD = LVTTL; 
NET "TSCLK" LOC="E1" | IOSTANDARD = LVTTL; 
NET "DR" LOC="F2" | IOSTANDARD = LVTTL; 
NET "RFS" LOC="G2" | IOSTANDARD = LVTTL; 
NET "DT" LOC="D1" | IOSTANDARD = LVTTL; 
NET "TFS" LOC="E2" | IOSTANDARD = LVTTL; 
