NET "REFCLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 19 ns HIGH 50 %;

NET "REFCLKIN" LOC="R9" | IOSTANDARD = LVTTL;
NET "DSPCLKOUT" LOC="C1" | IOSTANDARD=LVTTL; 
NET "DSPRESET" LOC="B1" | IOSTANDARD=LVTTL; 
NET "LEDPOWER" LOC="T9" | IOSTANDARD=LVTTL; 
#NET "INTGEN" LOC ="D6"| IOSTANDARD=LVTTL | PULLUP; 
NET "EVENTTXD<0>" LOC="B4" | IOSTANDARD=LVTTL |  DRIVE=12;  
NET "EVENTTXD<1>" LOC="A3" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTTXD<2>" LOC="B5" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTTXD<3>" LOC="A4" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTTXD<4>" LOC="B6" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTTXD<5>" LOC="A5" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTTXD<6>" LOC="B7" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTTXD<7>" LOC="A7" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTENA" LOC="D5" | IOSTANDARD=LVTTL |  DRIVE=12 ; 
NET "EVENTCLK" LOC="C5" | IOSTANDARD=LVTTL | DRIVE=12 | FAST; 
NET "PFLAG0" LOC="C6" | IOSTANDARD=LVTTL | DRIVE=12 | FAST; 
